<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
  <head>

    {{ partial "head_favicon.html" . }}

    <title>{{ site.Title }}</title>
    <meta property="og:image" content="{{ site.Params.og_image }}" />
    <meta name="description" content="{{ site.Params.Description }}" />
    
    <link rel="canonical" href="{{ .Permalink }}">

    <meta property="og:site_name" content="WTFTDIG">
    <meta property="og:title" content="{{ site.Title }}">
    <meta property="og:description" content="{{ site.Params.Description }}">

    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="0; url={{ .Permalink }}">
  </head>
</html>
