<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body class="d-flex h-100 text-center text-bg-dark">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQLB5BPM" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		{{ partial "header.html" . }}
		<main class="px-3 h-80">
			<iframe title="Map with Gothenburg's duck feeding spots"
			    class="h-100" width="100%" frameborder="0" allowfullscreen allow="geolocation"
				src="https://umap.openstreetmap.de/en/map/where-to-feed-the-ducks-in-gothenburg_77934?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=false&tilelayersControl=false&embedControl=false&datalayersControl=false&onLoadPanel=none&captionBar=false&captionMenus=true&fullscreenControl=false&captionControl=false&locateControl=false&measureControl=false&editinosmControl=false#13/57.7023/11.9698">
			</iframe>
		</main>

		{{ partial "footer.html" . }}
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
		integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
		crossorigin="anonymous"></script>
</body>
</html>